{% extends 'base.html' %} {% block content %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h4 class=" site-heading my-4 mt-3"> Welcome to the Fitness Freaks Blog </h4>
                    <h1 class="blog-title">{% block title %} {{ object.title }} {% endblock title %}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container text-center blog-post">
  <div class="row">
    <div class="col-12 card">
      <div class="card-body">
        <p class=" text-muted">Created by {{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}